@page
@model WebApp.Areas.Admin.Pages.Products.IndexModel
@{
}
<h1>Admin</h1>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.ProductList)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.IsActive</td>
                <td>
                    <a asp-page="edit" class="btn btn-primary" asp-route-id="@product.Id">Edit</a>
                </td>
            </tr>
        }

    </tbody>

</table>